{
	auto_https off
}

:80 {
	encode gzip zstd

	header {
		X-Content-Type-Options nosniff
		X-Frame-Options DENY
		Referrer-Policy strict-origin-when-cross-origin
	}

	header /assets/* Cache-Control "public, max-age=31536000, immutable"

	reverse_proxy app:3001
}
